
body {
  
  
  font-family: 'Manrope', sans-serif;
 
  /*#051e3e • #251e3e • #451e3e • #651e3e • #851e3e
*/

  background: #222738;  /* fallback for old browsers */

  

}

h1,h2,h3,h4,h5,p {
  color: #FFFFFF;
  opacity: 87%;
}

h1 {
  text-align:center;
  font-size:48px;

}



.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.column {
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(50% - 3.5rem);
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  
.max-width {
  max-width: 70rem;
  margin: 0 auto;
}


#page-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1514511719-9f5849dc16d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#page-1 h1 {
  padding-top:20%;
}

#page-1 h2{
  text-align:center;
}



#page-2 {

}





.card-body .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
  padding-top: 6px;
}
.card-body .content-main-text .fa {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: inherit;
  font-size: 4.8rem;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card-body .content-accent {
  font-size: 4.5rem;
  font-weight: 100;
  text-align: left;
}

.card .content-main-text {
  height: 150px;
  background: inherit;
  opacity: 87%;
}
.card .content-sub-text {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  opacity: 87%;
}
.card {
  background:linear-gradient(135deg, #9299a0 0%,#5d6874 100%);

}

.bg-card {
  opacity:89%;
}

.test {
  width:100%;
  height:100%;
  border-radius: 25px;
  color:white;
  opacity: 87%;
}