
body {
  
  
  font-family: 'Manrope', sans-serif;
  /*font-family: 'Noto Sans', sans-serif; */

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#205072+0,329d9c+100 */
background: #205072; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #205072 0%, #329d9c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #205072 0%,#329d9c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #205072 0%,#329d9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#205072', endColorstr='#329d9c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


h1,h2,h3,h4,h5,p {
  color: #FFFFFF;
  opacity: 87%;
}

h1 {
  text-align:center;
  font-size:48px;

}



.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.column {
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(50% - 3.5rem);
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  
.max-width {
  max-width: 70rem;
  margin: 0 auto;
}


#page-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1514511719-9f5849dc16d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#page-1 h1 {
  padding-top:20%;
}

#page-1 h2{
  text-align:center;
}



#page-2 {

}


